<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Index</title>
	</head>

	<body>
		<h1 style="color: blue">Index</h1>
		<h1>A simple blockchain with no usecases at all</h1>
		<h2> button and better fonts comming soon</h2>
		<h3> go to /get_chains to see the blocks </h3>
		<form action="/get_chain" method="post">
			<p>
			<label for="messege">messege</label>
			<input type="text" name="messege">
			</p>
			<p>
			<input type="submit" value="create block">
			</p>
		</form>

	</body>
</html>
